*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
fieldset {
  width: 36%;
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
}
div {
  display: flex;
  justify-content: space-between;
  margin-left: -15%;
  font-size: 1.5rem;
  padding: 3%;

  line-height: 3.5rem;
  align-items: center;
}
.maintext {
  font-size: 3.5rem;
}
label {
  padding-left: 10%;
  margin: 5%;
}
.discbullet.red {
  color: red;
  font-size: 5rem;
}
.discbullet.orange {
  color: orange;
  font-size: 5rem;
}

.discbullet.green {
  color: rgb(132, 212, 12);
  font-size: 5rem;
}
.red {
  color: red;
}
