*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Handlee", cursive;
  color: rgb(211, 208, 29);
  box-sizing: border-box;
}
fieldset {
  border: 5px solid gray;
  width: 30%;
  margin: 0 auto;
}
header {
  /* text-align: center; */

  background-color: brown;
  color: white;
  font-size: 1.5rem;
  width: 90%;
}
input,
textarea,
button {
  width: 90%;
}
div {
  text-align: center;
}
