<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <section id="floatContainer">
      <div>Product 1</div>
      <div>Product 2</div>
      <div>Product 3</div>
      <div>Product 4</div>
      <div>Product 5</div>
      <div>Product 6</div>
      <div>Product 7</div>
      <div>Product 8</div>
    </section>

    <section id="flexContainer">
      <div>Product 1</div>
      <div>Product 2</div>
      <div>Product 3</div>
      <div>Product 4</div>
      <div>Product 5</div>
      <div>Product 6</div>
      <div>Product 7</div>
      <div>Product 8</div>
    </section>

    <section id="gridContainer">
      <div>Product 1</div>
      <div>Product 2</div>
      <div>Product 3</div>
      <div>Product 4</div>
      <div>Product 5</div>
      <div>Product 6</div>
      <div>Product 7</div>
      <div>Product 8</div>
    </section>
  </body>
</html>
