body {
  background-color: aqua;
}
div {
  background-color: #659494;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 100px;
  border: 5px solid red;
}

#floatContainer {
  overflow: hidden;
  background-color: antiquewhite;
}
#floatContainer div {
  float: left;
}
#flexContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin-top: 20px;
}
#gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: antiquewhite;
  margin-top: 20px;
}
