body {
  font-family: "Roboto Mono", monospace;
}
header {
  display: flex;
  justify-content: space-around;
  border: 5px solid rgb(83, 69, 69);
  background-color: #0077b6;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

#logo {
  border: 2px solid #9d0208;
  border-radius: 35%;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 15px;
}
ul li {
  list-style-type: none;
}
nav a {
  padding: 15px;
  text-decoration: none;
  color: #f8edeb;
  background-color: #9d0208;
  border-radius: 15%;
  border: 3px solid #500205;
}
nav a:hover {
  text-decoration: underline;
}
ul li .signIn {
  background-color: #9d0208;
  border: 3px solid #500205;
  border-radius: 15%;

  color: #f8edeb;
  text-decoration: none;
}
/*----------------- breadcrumb ----------------- */
.breadcrumb ol {
  display: flex;
  list-style-type: none;
}
.breadcrumb ol li:after {
  content: "/";
}
.breadcrumb ol li:last-child:after {
  content: " ";
}
.breadcrumb a {
  color: #151b29;
  text-decoration: none;
}
/*----------------- breadcrumb ----------------- */
.game-card {
  display: inline-block;
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}
.game-card img {
  width: 100%;
}
.gameCover {
  height: 300px;
  width: 300px;
}
/*----------------- Sign in----------------- */
.sig {
  font-family: "Roboto", sans-serif;
  background-color: #151b29;
  color: #ffa260;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.but {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.but:hover {
  border-color: #f1ff5c;
  color: #ffffff;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
/*----------------- Register----------------- */

/*----------------- Gallery ----------------- */
.gallery {
  width: 29%;
  margin: calc(10% / 6);
}
