*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Handlee", cursive;
  color: rgb(211, 208, 29);
  box-sizing: border-box;
}
fieldset {
  border: 5px solid gray;
  width: 30%;
  margin: 0 auto;
  background-color: #f7dba7;
}
.header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 5rem;
}

header {
  background-color: brown;
  color: white;
  font-size: 4.5rem;
  width: 90%;
}
input,
button {
  width: 90%;
  height: 5rem;
}
div {
  text-align: center;
  padding: 1.5rem 0;
}
button {
  background-color: #f6aa1c;
  height: 5rem;
}
textarea {
  width: 90%;
}
