body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header {
  background-color: #f2a062;
  padding: 15px;
}
aside {
  background-color: #f6bd62;
  float: left;
  width: 20%;
  height: 400px;
  padding: 15px;
  box-sizing: border-box;
}
main {
  background-color: #8eabc0;
  color: #ffffff;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 400px;
  padding: 15px;
}
section {
  background-color: #507088;
  float: left;
  box-sizing: border-box;
  width: 30%;
  height: 400px;
  padding: 15px;
}
footer {
  background-color: #b7ce3f;
  padding: 15px;
  clear: both;
}
