body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
header {
  background-color: #f2a062;
  padding: 15px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
#logo {
  background-color: #eb6481;
  float: left;
  padding: 15px;
}
nav {
  background-color: #d76a50;
  float: right;
  padding: 15px;
}
main {
  background-color: #8eabc0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
aside {
  background-color: #f6bd62;
  color: white;
  float: left;
  width: 20.7%;
  height: 400px;
  padding: 15px;
}
#subContent1 {
  background-color: #3a5162;
  color: white;
  float: right;
  margin-top: 30px;
  width: 65%;
  height: 150px;
  padding: 15px;
}
#subContent2 {
  background-color: #3a5162;
  color: white;
  float: right;
  margin-top: 30px;
  width: 65%;
  height: 150px;
  padding: 15px;
}
footer {
  background-color: #b7ce3f;
  padding: 15px;
  clear: both;
}
